* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 10px;
}

.click-btn {
    width: 60px;
    height: 30px;
    background-color: ivory;
    margin: 10px;

}

.count {
    margin: 10px;

}

.animated-box {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 12px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.dropdown-btn {
    margin-top: 15px;
    padding: 10px 20px;
    margin-left: 15px;
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;

}

.dropdown.show {
    display: block;
}
